* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.swiper {
    display: grid;
    place-items: center;
    height: fit-content;
}

.swiper-wrapper{
    width: 100dvw;
}

@media screen and (width < 900px) {
    .swiper{
        width: 100dvw;
    }
    
}

.swiper-slide img{
    width: 70%;
}



.swiper-slide{
    display: grid;
    place-items: center;
}
