/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-black);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--text-body);
}

/* Use locally stored font */
@font-face {
    font-family: "Post No Bills Colombo ExtraBold Regular";
    font-style: normal;
    font-weight: normal;
    src: url("PowerFitness/font/PostNoBillsColombo-ExtraBold.woff");
}

/* Variables */
:root {
    --text-body-accent: #ff0921;
    --text-body: #ffffff;
    --bg-black: #000000;
    --header: "Post No Bills Colombo ExtraBold Regular";
    --body: "Roboto", sans-serif;
}

.header-font {
    font-family: var(--header);
}

.body-font {
    font-family: var(--body);
}

.accent-font {
    color: var(--text-body-accent);
}

.body-font {
    color: var(--text-body);
}

.fw-100 {
    font-weight: 100;
}

.fw-300 {
    font-weight: 300;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

.fr-1 {
    font-size: 1rem;
}

.fr-2 {
    font-size: 2rem;
}

.fr-3 {
    font-size: 3rem;
}

.fr-4 {
    font-size: 4rem;
}

.fr-5 {
    font-size: 5rem;
}

.fr-6 {
    font-size: 6rem;
}

.btn-default {
    background-color: var(--text-body-accent);
    color: var(--text-body);
    padding: 10px;
    border-radius: 4px;

    font-size: 2rem;
    font-family: var(--body);
    font-weight: 700;
}

.btn-hover-1:hover {
    background-color: transparent;
    border: 1px var(--text-body) solid;
    color: var(--text-body-accent);
}

.btn-hover-2:hover {
    background-color: var(--text-body);
    color: var(--text-body-accent);
}

.container-fluid {
    padding: 0;
}

.page {
    position: relative;
    height: 100dvh;
}

.text-header {
    font-family: var(--header);
}

.text-body {
    font-family: var(--body);
}

.logo {
    font-family: var(--header);
    color: var(--text-body);
}

.logo span {
    color: var(--text-body-accent);
}

.logo:hover {
    text-decoration: none;
    color: white;
}

/* Nav Bar */
.navbar {
    margin-bottom: 0;
    background-color: var(--bg-black);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a,
.navbar .navbar-brand {
    text-align: center;
    font-family: var(--body);
    font-weight: 400;
    color: var(--text-body) !important;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: var(--text-body-accent) !important;
    background-color: transparent !important;
    border-bottom: 1px var(--text-body-accent) solid !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    background-color: transparent !important;
}

.navbar-brand {
    letter-spacing: 0;
    font-family: var(--header) !important;
    font-size: 2.5rem;
    padding-top: 20px;
}

.navbar-nav .nav-link {
    font-weight: 500;
    letter-spacing: 0;
    padding-inline: 3rem;
}

.navbar-nav .profile-icon {
    font-size: 2rem;
    height: 50px;
}

@media (max-width: 768px) {
    .navbar-brand {
        padding-top: 15px;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        font-size: 4rem;
    }
}

/* Collapse the navbar early */
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
}
/* End of Nav Bar */

/* Hero Section Style */
.hero-section .container-fluid {
    overflow-x: hidden;
    display: grid;
    place-items: center;
}

.hero-section .container-img {
    width: 100dvw;
    height: 100dvh;
    background-image: url("PowerFitness/images/Hero.jpg");
    background-size: cover;
    background-position-x: 10px;
    background-position: center;
}

.hero-section .container-text {
    position: absolute;
    padding-inline: 10%;
    top: 25%;
}

.hero-section .container-text .text-header {
    font-size: 2rem;
    color: var(--text-body);

    margin-bottom: 1rem;
}

.hero-section .container-text span {
    color: var(--text-body-accent);
    font-size: 3rem;
}

.hero-section .container-text .btn-wrap {
    margin-bottom: 2rem;
}

.hero-section .container-text .text-body {
    color: var(--text-body);
    font-weight: 200;
}

@media (min-width: 992px) {
    .hero-section .container-text .text-header {
        font-size: 5rem;
    }

    .hero-section .container-text span {
        font-size: 7rem;
    }

    .hero-section .container-text .text-body {
        font-size: 2rem;
    }
}
/* End of Hero Section Style */

/* Feature Section Style */
.feature-section {
    padding-top: 50px;
    margin-top: -50px;
}

.feature-section .container-fluid {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 20px;
}

.feature-section .row h1 {
    font-family: var(--header);
    font-size: 4rem;
    color: var(--text-body-accent);
    text-align: center;
}

.feature-section .flip-item {
    display: grid;
    place-items: center;
}

.flip-card {
    background-color: transparent;
    width: 95dvw;
    height: 50dvh;
    padding-inline: 0;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0px 0px 2px 2px rgba(255, 0, 0, 1);
}

.feature-section .flip-card-front {
    display: grid;
    place-items: center;
}

/* Style the front side  */
.feature-section .flip-item:nth-child(1) .flip-card-inner .flip-card-front {
    background: linear-gradient(rgb(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)),
        url("PowerFitness/images/Zones.jpg");
    background-size: cover;
    background-position: center;
}

.feature-section .flip-item:nth-child(2) .flip-card-inner .flip-card-front {
    background: linear-gradient(rgb(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)),
        url("PowerFitness/images/Military.jpg");
    background-size: cover;
    background-position: right;
}

.feature-section .flip-item:nth-child(3) .flip-card-inner .flip-card-front {
    background: linear-gradient(rgb(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5)),
        url("PowerFitness/images/24.jpg");
    background-size: cover;
    background-position: right;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Style the back side */
.flip-card-back {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: 10px;

    color: white;
    font-family: var(--body);
    text-align: end;

    transform: rotateY(180deg);
}

.feature-section .flip-item:nth-child(1) .flip-card-inner .flip-card-back {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("/PowerFitness/images/Zones_Hover.jpg");
    background-size: cover;
    background-position: center;
}

.feature-section .flip-item:nth-child(2) .flip-card-inner .flip-card-back {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("/images/Military_Hover.jpg");
    background-size: cover;
    background-position: center;
}

.feature-section .flip-item:nth-child(3) .flip-card-inner .flip-card-back {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("images/24_Hover.jpg");
    background-size: cover;
    background-position: center;
}

.flip-card-back .btn-default {
    background-color: transparent;
    border: 1px var(--text-body) solid;

    font-size: 1rem;
    font-weight: 500;
}

.flip-card-back p {
    font-weight: 500;
    text-align: right;
    font-size: 1.5rem;
}

.flip-card-back h1 {
    margin-top: 10px;

    font-family: var(--header);
    color: var(--text-body-accent);
    font-size: 4rem;
}

/* Change Card Into Horizontal   */
@media (min-width: 992px) {
    .feature-section .row h1 {
        font-family: var(--header);
        font-size: 6rem;
        color: var(--text-body-accent);
        text-align: center;
    }

    .flip-card {
        background-color: transparent;
        width: 28dvw;
        height: 75dvh;
        padding: 0;
        transform: skewX(-5deg);
    }

    .flip-card-back * {
        transform: skewX(5deg);
    }
}

@media (max-width: 992px) {
    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-card .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-item {
        padding-block: 4px;
    }
}

/* End of Feature Section Style */

/* Membership Section */
.membership-section {
    margin-top: -50px;
    padding-top: 50px;
}

.membership-section .heading {
    font-size: 6rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 1rem;
    text-align: center;
    color: #ff0921;
    position: relative;
    padding-bottom: 10px;
    padding-top: 0;
}

.membership-section h2 {
    color: white;
    margin-bottom: 10px;
}

.membership-section h4 {
    color: white;
}

.price1 {
    margin-top: 90px;
}

.price2 {
    margin-top: 90px;
}

.price3 {
    margin-top: 70px;
}

.price4 {
    margin-top: 30px;
}

.d {
    color: white;
    margin: 10px 0px 30px 0px;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 3px solid #ff0921;
    width: 100%;
}
.membership-section .membership-section .img ul li {
    width: 30px;
    height: 30px;
    border: 1px solid #ff0921;
    border-radius: 50%;
    margin: 3px;
    padding: 7px;
    display: inline-block;
}

.membership-section .fa-fa-check-square {
    margin-top: 10px;
}

.membership {
    padding: 30px 10px 10px 10px;
    background-color: rgb(46, 46, 46);
    border-radius: 15px;
    align-items: center;
    width: 22rem;
    height: 48rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0.5rem 0.5rem 3rem #ff0921;
    margin: 3rem;
}

.membership-section section {
    white-space: normal;
}

.membership-section .btn {
    width: 10rem;
    float: center;
    font-size: 20px;
    background-color: #ff0921;
    color: white;
}

.membership-section li {
    color: white;
    text-align: left;
    padding-left: 10px;
}

.membership-section .row {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-bottom: 3rem;
}

@media screen and (min-width: 700px) {
    .membership-section .row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .membership-section .membership {
        margin: 3rem;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .membership:nth-child(1) {
        animation: fadeIn 0.5s 0.5s backwards;
    }
    .membership:nth-child(2) {
        animation: fadeIn 0.5s 1s backwards;
    }
    .membership:nth-child(3) {
        animation: fadeIn 0.5s 1.5s backwards;
    }
    .membership:nth-child(4) {
        animation: fadeIn 0.5s 2s backwards;
    }

    .membership:hover {
        transform: scale(1.05);
    }
}

/* Trainers Style */
.trainers-section h1 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    color: #ff0921;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 30px;
}

.name {
    color: white;
    margin: 10px 0px 10px 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.trainers-section img {
    width: 200px;
}

.img-box {
    padding: 30px 10px 10px 10px;
    background-color: rgba(46, 46, 46, 0.6);
    border-radius: 15px;
    margin: 10px;
    height: 420px;
    width: 300px;
    box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.6);
}

.social-media {
    width: 100%;
    list-style: square;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
}

.trainers-section .social-media i {
    font-size: 3rem;
    color: var(--text-body-accent);
}

.trainers-section .fa-facebook:hover,
.trainers-section .fa-instagram:hover,
.trainers-section .fa-twitter:hover {
    color: white;
    transform: scale(1.2);
}

.trainers-section .fa-facebook,
.trainers-section .fa-instagram,
.trainers-section .fa-twitter {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid var(--text-body-accent);
    border-radius: 50%;
    color: var(--text-body-accent);
}

.trainers {
    margin: 0;
    align-content: center;
}

.trainers-section .fa-instagram {
    font-size: 30px;
    padding: 10px 12px 10px 12px;
}

.trainers-section .fa-facebook {
    font-size: 30px;
    padding: 10px 16px;
    margin-top: 10px;
    margin-left: 5px;
}

.trainers-section .fa-twitter {
    font-size: 30px;
    padding: 10px 12px 10px 12px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .trainers-section .trainers {
        padding-bottom: 15px;
    }
}

@media (max-width: 700px) {
    .trainers-section .row {
        flex-direction: column;
    }
}
@media screen and (min-width: 700px) {
    .trainers-section .row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .img-box {
        margin: 2rem;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .img-box:nth-child(1) {
        animation: fadeIn 2s 0.5s backwards;
    }
    .img-box:nth-child(2) {
        animation: fadeIn 2s 1s backwards;
    }
    .img-box:nth-child(3) {
        animation: fadeIn 2s 1.5s backwards;
    }

    .img-box:hover {
        transform: scale(1.1);
    }

    .btn:hover {
        transform: scale(1.1);
        background-color: white;
        color: black;
    }
}

/* Footer Section Style */
.footer-section {
    padding-top: 100px;
    color: var(--text-body);
    font-family: var(--body);
    font-weight: 300;
}

.footer-section .horizontal-line {
    border: 1px var(--text-body-accent) solid;
}

.footer-section .back-top {
    background-color: rgba(244, 17, 17, 0.6);
    width: 60%;
    border-radius: 0px 0px 10px 10px;
    padding: 6px 20px;
}

.footer-section .logo:hover {
    color: var(--text-body);
}

.footer-section a {
    padding: 2px;
    text-decoration: none;
}

.footer-section a:hover {
    color: var(--text-body-accent);
}

.footer-section h1 {
    color: var(--text-body-accent);
    font-family: var(--header);
}

.footer-section .fa-brands,
.footer-section .fa-solid {
    font-size: 4rem;
    padding-inline: 1rem;
}

.footer-section .fa-solid {
    font-size: 3rem;
    vertical-align: middle;
}

.footer-section .footer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

.footer-section hr {
    margin: 0;
}

.footer-section .footer p {
    margin: 0;
}

.footer-section .about-subpage {
    padding-bottom: 15px;
}

.footer-section .brands-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.footer-section .contact-wrap {
    width: fit-content;
    padding-bottom: 5px;
}

.footer-section .contact-wrap div:nth-child(1) {
    padding-bottom: 5px;
}

.footer-section .contact-wraper {
    display: grid;
    place-items: center;
}

@media (min-width: 992px) {
    .footer-section .footer-links {
        padding-block: 5dvh;
    }

    .footer-section .footer p {
        padding: 0;
    }
}

/* Modal */
/* -----MODAL----- */



.modal-content {
    background-color: #000;
    color: #fff;
}
.modal-header {
    border-bottom: 1px solid #444;
}
.modal-footer {
    border-top: 1px solid #444;
}
.btn-login {
    background-color: #ff0921;
    color: #fff;
}
.modal-title {
    text-align: center;
    padding-top: 30px;
}

.modal-inputs{
    padding-block: 5px;
}

.modal-section form {
    align-items: center;
    text-align: center;
    justify-content: center;
}


.create {
    text-align: center;
    margin-bottom: 40px;
}
.login {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}
.btn-login {
    width: 300px;
}
.sign {
    color: #ff0921;
}
.power {
    color: white;
}
